<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body><img src="../static/images/bkgd3.png" alt="background" name="backimg" width="1000" height="562" usemap="#Map" id="backimg" border="0" />
<map name="Map" id="Map">
  <area shape="rect" coords="631,294,717,330" href="{{ url_for('timeline')}}" />
</map>
</body>
</html>
